// Local vars




// List Item
// ==================================

.listItem
  border-radius: 5px
  background: $blue
  color: white
  margin-bottom: $space
  position: relative
  overflow: hidden


// Trigger
// ==================================

.listItem_trigger
  height: $height-listItem-trigger
  text-align: left // @TODO maybe make this a default for <button>


// Trigger - Play
.listItem_play
  +size($height-listItem-trigger)
  position: relative

.listItem_icon
  +center-transform
  transition: opacity .1s $anim-cubic

  &-pause
    opacity: 0

  .is-playing &

    &-play
      opacity: 0

    &-pause
      opacity: 1

// Trigger - Pulse
.listItem_pulse
  padding: 0 $space


// Info
// ==================================

.listItem_info
  height: 0
  transition: height .5s $anim-cubic
  overflow: hidden
  background: $teal

  .is-playing &
    height: $height-listItem-info

// Wave
.listItem_wave
  height: 80px

// Buttons
.listItem_actions
  line-height: 40px
  background: $primary
  text-align: center