//============================================
// Menu
//============================================


// Wrap
//============================================

.menu
  height: $height-menu
  background-color: $blue-dark
  border-bottom: $height-menu-border solid $blue
  display: flex


// Actions
//============================================

.menu_action
  flex: 1


// Record
//============================================

.menu_record
  flex: 0 0 $width-recBtn
  position: relative