//============================================
// Record button
//============================================

.recbtn
  +size(75px)
  +pos(50% 18px, left bottom)
  transform: translate(-50%, 0)
  transition: width .5s $anim-cubic , height .5s $anim-cubic
  background: $primary
  border-radius: 50%
  color: white
  text-align: center

  .i
    +center(iw(i-mic),ih(i-mic))
    transition: top .5s $anim-cubic, margin-top .5s $anim-cubic

.recbtn_time
  +center-transform()
  line-height: 45px
  font-weight: bold
  font-size: 42px
  opacity: 0
  transition: opacity 1.2s 1.8s


.recbtn.start-rec
  +size(235px)
  .i
    top: 179px
    margin-top: 0
  .recbtn_time
    opacity: 1
    height: 45px